include pyproject.toml
recursive-include mage_integrations/destinations *
recursive-include mage_integrations/sources *
recursive-include mage_integrations/transformers *
global-exclude *.py[cod] *.db *.db-* *.sqlite *.sqlite3 .env .env.*
